In [55]:
import pandas as pd
df=pd.read_csv('Walmart.csv',encoding_errors='ignore')
df.shape

(10051, 11)

In [56]:
df.columns

Index(['invoice_id', 'Branch', 'City', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin'],
      dtype='object')

In [57]:
df.describe()

         invoice_id      quantity        rating  profit_margin
count  10051.000000  10020.000000  10051.000000   10051.000000
mean    5025.741220      2.353493      5.825659       0.393791
std     2901.174372      1.602658      1.763991       0.090669
min        1.000000      1.000000      3.000000       0.180000
25%     2513.500000      1.000000      4.000000       0.330000
50%     5026.000000      2.000000      6.000000       0.330000
75%     7538.500000      3.000000      7.000000       0.480000
max    10000.000000     10.000000     10.000000       0.570000

In [58]:
df.duplicated().sum()

np.int64(51)

In [59]:
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [60]:
df.drop_duplicates(inplace=True)

In [61]:
df.shape

(10000, 11)

In [62]:
df.dropna(inplace=True)

In [63]:
df['unit_price']=df['unit_price'].str.replace('$','').astype(float)
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [64]:
df['total']=df['unit_price']*df['quantity']
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin,total
0,1,WALM003,San Antonio,Health and beauty,74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48,522.83
1,2,WALM048,Harlingen,Electronic accessories,15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48,76.40
2,3,WALM067,Haltom City,Home and lifestyle,46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33,324.31
3,4,WALM064,Bedford,Health and beauty,58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33,465.76
4,5,WALM013,Irving,Sports and travel,86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48,604.17

In [65]:
df.info

<bound method DataFrame.info of       invoice_id   Branch         City                category  unit_price  \
0              1  WALM003  San Antonio       Health and beauty       74.69
1              2  WALM048    Harlingen  Electronic accessories       15.28
2              3  WALM067  Haltom City      Home and lifestyle       46.33
3              4  WALM064      Bedford       Health and beauty       58.22
4              5  WALM013       Irving       Sports and travel       86.31
...          ...      ...          ...                     ...         ...
9995        9996  WALM056      Rowlett     Fashion accessories       37.00
9996        9997  WALM030   Richardson      Home and lifestyle       58.00
9997        9998  WALM050     Victoria     Fashion accessories       52.00
9998        9999  WALM032        Tyler      Home and lifestyle       79.00
9999       10000  WALM069     Rockwall     Fashion accessories       62.00

      quantity      date      time payment_method  rating  profit_margin  \
0          7.0  05/01/19  13:08:00        Ewallet     9.1           0.48
1          5.0  08/03/19  10:29:00           Cash     9.6           0.48
2          7.0  03/03/19  13:23:00    Credit card     7.4           0.33
3          8.0  27/01/19  20:33:00        Ewallet     8.4           0.33
4          7.0  08/02/19  10:37:00        Ewallet     5.3           0.48
...        ...       ...       ...            ...     ...            ...
9995       3.0  03/08/23  10:10:00           Cash     3.0           0.33
9996       2.0  22/02/21  14:20:00           Cash     7.0           0.48
9997       3.0  15/06/23  16:00:00    Credit card     4.0           0.48
9998       2.0  25/02/21  12:25:00           Cash     7.0           0.48
9999       3.0  26/09/20   9:48:00           Cash     3.0           0.33

       total
0     522.83
1      76.40
2     324.31
3     465.76
4     604.17
...      ...
9995  111.00
9996  116.00
9997  156.00
9998  158.00
9999  186.00

[9969 rows x 12 columns]>

In [66]:
import pymysql
from sqlalchemy import create_engine

In [67]:
engine_mysql=create_engine("mysql+pymysql://root@localhost:3306/walmart_db")
try:
    engine_mysql
    print("Connection Successful")
except:
    print("Error")

Connection Successful

In [68]:
df.to_sql(name='walmart',con=engine_mysql,if_exists='append',index=False)

9969

In [69]:
df.to_csv('Walmart_cleaned.csv',index=False)